main{
    background: rgb(106, 190, 106);
}

.field_reserve{
    white-space: nowrap;
    overflow: scroll;
}

/*カード1枚は90×120px*/
.field{
    position: relative;
    display: inline-block;
    vertical-align: top;
    background-color: bisque;
    padding: 10px;
    width: 916px;
    height: 532px;

}

.semetary{
    position: absolute;
    right: 10px;
    top: 138px;
    height: 128px;
    width: 128px;
    background: whitesmoke;
}
.deck{
    position: absolute;
    right: 10px;
    top: 266px;
    height: 128px;
    width: 128px;
    background: whitesmoke;
}

.vanished{
    position: absolute;
    right: 10px;
    top: 10px;
    height: 128px;
    width: 128px;
    background: whitesmoke;

}

.cardZone{
    float: left;
    position: relative;
    width: 120px;
    height: 120px;
    border:4px solid #DC143C;
    margin:0.1px;
}
.monster_field{
    position: absolute;
    left: 138px;
    top: 138px;
    width: 641px;
    height: 128px;
    background-color: cornflowerblue;
}
.spellandtrap{
    position: absolute;
    left: 138px;
    top: 266px;
    width: 641px;
    height: 128px;
    background-color: darkseagreen;
}

.exmonster1{
    position: absolute;
    left: 266px;
    top: 10px;
    width: 128px;
    height: 128px;
    background-color: aqua;
}
.exmonster2{
    position: absolute;
    left: 522px;
    top: 10px;
    width: 128px;
    height: 128px;
    background-color: aqua;
}

.fieldcard{
    position: absolute;
    left: 10px;
    top: 138px;
    width: 128px;
    height: 128px;
    background-color: chartreuse;
}

.ex{
    position: absolute;
    left: 10px;
    top: 266px;
    width: 128px;
    height: 128px;
    background-color: whitesmoke;
}

.reserve{
    display: inline-block;
    vertical-align: top;
    width: 128px;
    height: 128px;
    margin: 10px;
    background-color: whitesmoke;
}

.card{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left:50%;
    height: 100%;
    width: auto;
}

.def{
    transform: rotate(-90deg);
}

#cardList{
    display: none;
    flex-wrap: wrap;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 60px;
    right: 50px;
    height: 480px;
    width: 100px;
    background-color: darkblue;
    z-index: 100; 
}
#cardList .card{
    display: block;
    position: static;
    top: 30px;
    transform: translate(0,0) rotate(0);
    left:5%;
    width: 90%;
    height: auto;
}

#listClose {
    display: none;
    position: absolute;
    top:30px;
    right: 50px;
    border: 2px solid #DC143C;
    height: 30px;
    width: auto;
}

.hand {
    position: absolute;
    top: 400px;
    left: 220px;
}

.hand .cardZone{
    width: 450px;
    display: flex;
    background-color: whitesmoke;
}

.hand .cardZone .card{
    margin-right: 5px;
    display: inline;
    position: static;
    top: none;
    transform: translate(0,0);
    left:none;
    margin-right: -20px;

}

#cardinput{
    position: inline-block;
}

#cardView{
    position: absolute;
    overflow: hidden;
    display: none;
    top: 40px;
    left: 30px;
    width: 480px;
    height: 480px;
    background-color: aliceblue;
}

#toggleView{
    position: absolute;
    display: none;
    top: 10px;
    left: 30px;
    border: 2px solid blue;
}

.focus{  
    top: initial;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;   
}